// variables
$breakpoint-tablet: 768px;

// font face
@font-face {
  font-family: "EM Regular";
  src: url("./_fonts/EMprintW04-Regular.woff2") format("woff2"),
    url("./_fonts/EMprintW04-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EM SemiBold";
  src: url("./_fonts/EMprintW04-Semibold.woff2") format("woff2"),
    url("./_fonts/EMprintW04-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "EM Light";
  src: url("./_fonts/EMprintW01-Light.woff2") format("woff2"),
    url("./_fonts/EMprintW01-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

// typography

body {
  font-family: "EM Regular";
  background-color: #d6d6d6;
  color: #2b2626;
}
a {
  text-decoration: none;
  color: #0e469b;
}
strong {
  font-family: "EM SemiBold";
}

h1 {
  font-size: 30px;
  font-family: "EM Light";
  font-weight: normal;
  @media (max-width: $breakpoint-tablet) {
    font-size: 22px;
    width: 90%;
    margin: 0;
  }
}

h4 {
  font-size: 30px;
  font-family: "EM Light";
  margin: auto;
}

h6 {
  font-size: 20px;
  line-height: 1.5em;
  margin: auto;
}

p {
  font-family: "EM Regular";
  font-weight: normal;
  line-height: 1.6em;
}

// text align center
.text-center {
  text-align: center;
  > p {
    text-align: center;
  }
}

// outer wrapper
.outerWrapper {
  -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

// FORM GLOBAL STYLE OVERIDES//

// fix margin for select
.MuiFormControl-marginNormal {
  margin: 0 !important;
}

.MuiFilledInput-root {
  border-radius: 0 !important;
}
.MuiFilledInput-underline:before {
  display: none;
}
.MuiSelect-icon {
  right: 10px !important;
}

@media (max-width: $breakpoint-tablet) {
  // label size
  .MuiFormLabel-root,
  .MuiTypography-body1 {
    font-size: 1.12rem !important;
  }

  // popup size
  .MuiDialog-paperWidthSm {
    max-width: 95% !important;
    margin: auto !important;
  }
}

// popup table
#popup-confirmation h6 {
  font-size: 30px;
  @media (max-width: $breakpoint-tablet) {
    font-size: 24px;
  }
}
.table-label,
.table-value {
  font-size: 18px;
}
.table-label {
  font-family: "EM Light";
}
.table-value {
  font-family: "EM SemiBold";
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 10px !important;
    border-bottom: 1px solid #d2d2d2;
    &:last-child {
      border: none;
    }
  }
}
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
}
.popup-title {
  padding: 20px 0 25px;
  .thankyou-popup & {
    padding: 0;
    font-family: "EM SemiBold";
    color: #0c479d;
  }
}
.thankyou-popup p {
  font-family: "EM Light";
  font-size: 20px;
}

.accordion-container {
  .MuiPaper-root.MuiAccordion-root.MuiAccordion-rounded.MuiPaper-elevation1.MuiPaper-rounded {
    box-shadow: none;
  }
  .MuiAccordion-root:before {
    display: none;
  }
}

.MuiButton-root {
  box-shadow: none !important;
  margin: 10px 15px 0 0 !important;
}


@media (max-width: $breakpoint-tablet) {
  ol {
    padding-left: 15px;
  }
}