
/*// footer styles*/
.footer-wrapper {
    background-color: #333;
    padding: 30px 30px 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;

    /* logos */
    .logos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* main logo */
        .exxonmobil {
            background-size: 1000px 30px;
            background-image: url(./logos/footer-brand-logos.svg);
            background-repeat: no-repeat;
            height: 30px;
            width: 150px;
            margin-right: 50px;
            overflow: hidden;
            text-indent: -9999em;
            background-position: -300px center;
            &:hover {
                background-position: -450px center;
            }
            @media (max-width: 768px) {
                margin-right: 0;
            }
        }
        /* related companites */
        .related-companies {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: -8px;
            a {
                background-image: url(./logos/footer-brand-logos.svg);
                background-size: 1000px 30px;
                background-repeat: no-repeat;
                height: 30px;
                margin-right: 25px;
                overflow: hidden;
                outline: none;
                text-indent: -9999em;
                &.exxon {
                    width: 38px;
                    background-position: -600px center;
                    &:hover {
                        background-position: -650px center;
                    }
                }
                &.mobil {
                    background-position: -698px center;
                    width: 35px;
                    &:hover {
                        background-position: -748px center;
                    }
                }
                &.esso {
                    background-position: -798px center;
                    width: 33px;
                    &:hover {
                        background-position: -848px center;
                    }
                }
            }
        }
    }
    
    /*// nav items*/
    .bottom-nav-list {
        font-size: 12px;
        text-shadow: 0 1px 0 rgba(17, 17, 17, 0.1);
        color: #DEDEDE;
        font-family: 'EM SemiBold';
        outline: none;
        .links {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 10px;
            a {
                margin-left: 25px;
                position: relative;
                text-shadow: 0 1px 0 rgba(17, 17, 17, 0.1);
                color: #DEDEDE;
                font-family: 'EM SemiBold';
                outline: none;
                &:first-child::after {
                    content: '\02022';
                    font-size: 9px;
                    line-height: 1.6;
                    color: #7b7b7b;
                    text-shadow: 0 -1px 0 rgba(17, 17, 17, 0.4);
                    text-decoration: none;
                    position: absolute;
                    right: -15px;
                }
            }
        }
    }
}

/*// media*/
@media print, screen and (max-width: 800px) and (min-width: 0) {
    
    .footer-wrapper {
        display: block;
        .logos {
            margin-bottom: 20px;
        }
    }

    .footer-wrapper .bottom-nav-list .links {
        justify-content: flex-start;
        a {
            margin-left: 0;
            margin-right: 20px;
        }
    }

    .footer-wrapper .bottom-nav-list .links a:first-child::after {
        right: -13px;
    }

    .footer-wrapper .logos .related-companies a {
        margin-right: 0;
        margin-left: 25px;
    }
}

