

// variables
$breakpoint-tablet: 768px;

// header
.nav-header {
    font-size: 16px;
    background-color: #fff;
    .logo {
        padding: 20px 30px;
        @media (max-width: $breakpoint-tablet) {
            padding-left: 20px;
            > img {
                width: 180px;
            }
        }
    }
    .divider {
        height: 10px;
        display: block;
        background-color: #0e469b;
    }
    
    // breacrumb
    .breadcrumb-panel {
        background: #f2f2f2;
        border-bottom: 1px solid #e6e6e6;
        padding: 15px 30px;
        width: 100%;
        a {
            color: grey;
            margin-right: 35px;
            position: relative;
            &:after {
                position: absolute;
                content: " \203A";
                right: -20px;
                font-size: 20px;
                top: -3px;
            }
        }
        a.last-child {
            color: #2b2626;
            &:after {
                display: none;
            }
        }
        @media (max-width: $breakpoint-tablet) {
            font-size: 12px;
            padding-left: 20px;
            a {
                margin-right: 25px;
                &:after {
                    top: -5px;
                    right: -15px;
                }
            }
        }
    }
}