// variables
$breakpoint-tablet: 768px;
$breakpoint-mobile: 425px;

// Masthead
.masthead {
  margin-bottom: 30px;
  a {
    text-decoration: underline;
  }
  // image
  .masthead-image-container {
    margin: 30px;
    img.masthead-img {
      width: 100%;
      &.mobile {
        display: none;
        @media (max-width: $breakpoint-tablet) {
          display: block;
        }
      }
    }
    @media (max-width: $breakpoint-tablet) {
      margin: 20px;
      img.masthead-img {
        display: none;
      }
    }
  }
  @media (max-width: $breakpoint-tablet) {
    margin-bottom: 50px;
    &.luckydraw {
      margin-bottom: 0px;
    }
  }
  // content
  .content-container {
    .inner-container {
      max-width: 90%;
      width: 920px;
      margin: auto;
    }
  }

  // voucher
  .voucher-image {
    width: 400px;
    max-width: 100%;
    @media (max-width: $breakpoint-tablet) {
      width: 250px;
      margin: auto;
      text-align: center;
    }
  }

  // prize wrapper
  .prize-wrapper {
    .prize-container {
      display: flex;
      justify-items: center;
      align-items: center;
      margin-bottom: 20px;
    }
    .digit-container {
      margin-right: 20px;
      background: #0c479d;
      border-radius: 100%;
      width: 54px;
      height: 54px;
      display: flex;
      justify-items: center;
      align-items: center;
      user-select: none;
      p {
        color: white;
        font-size: 22px;
        font-weight: 900;
        margin: 0;
        padding: 14px;
        line-height: 1em;
      }
    }
    .text-container {
      p {
        font-family: "EM SemiBold";
        color: #0c479d;
        font-size: 26px;
        line-height: 1em;
        margin: 0;
        @media (max-width: $breakpoint-mobile) {
          font-size: 20px;
        }
      }
      p.term {
        color: #000;
        font-size: 18px;
        margin-top: 5px;
        font-weight: 100;
        font-family: "EM Light";
        @media (max-width: $breakpoint-mobile) {
          font-size: 16px;
        }
      }
    }
  }
  h1 {
    @media (max-width: $breakpoint-tablet) {
      margin: 0;
      margin-bottom: 20px;
    }
  }
  &.luckydraw {
    h1 {
      font-family: "EM SemiBold";
      color: #0c479d;
      font-size: 42px;
      line-height: 1.3em;
      max-width: 750px;
      @media (max-width: $breakpoint-tablet) {
        font-size: 24px;
        margin: 0;
        margin-bottom: 20px;
      }
      @media (max-width: $breakpoint-mobile) {
        font-size: 22px;
        letter-spacing: 0pt;
        width: 100%;
      }
    }
    h2 {
      font-family: "EM Light";
      font-size: 28px;
      line-height: 1.3em;
      margin-top: 45px;
      @media (max-width: $breakpoint-tablet) {
        margin-top: 20px;
        font-size: 20px;
      }
    }
  }

  //   date container
  .date-wrapper {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .date-container {
      width: 230px;
      .ybtn {
        background: #ed8b00;
        color: white;
        font-size: 14px;
        padding: 7px 15px;
        display: inline-block;
      }
      p {
        font-size: 22px;
        margin: 15px 0 5px;
        font-family: "EM SemiBold";
        @media (max-width: $breakpoint-tablet) {
          font-size: 18px;
        }
      }
      p.terms {
        margin-top: 5px;
        font-size: 18px;
        line-height: 1.3em;
        font-family: "EM Light";
        @media (max-width: $breakpoint-tablet) {
          font-size: 15px;
        }
      }
    }
    @media (max-width: $breakpoint-tablet) {
      margin-top: 25px;
      justify-content: start;
      .date-container {
        margin-bottom: 20px;
      }
    }
  }
}

// button internal
.btn-internal {
  padding: 5px 20px;
  font-size: 18px;
  font-family: "EM Regular";
  @media (max-width: $breakpoint-mobile) {
    font-size: 14px;
    padding: 2px 5px;
  }
}

.voucher-img-container {
  @media (max-width: $breakpoint-mobile) {
    text-align: center;
  }
}

.form-header {
  margin-bottom: 20px;
  @media (max-width: $breakpoint-tablet) {
    margin-left: 0px;
  }
}
